
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheet/style.css">

	<title>Karaoke</title>
</head>
<body>
	<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
        <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
       
      </ul>
  </div>
</nav>
	<!-- END HEADER -->
	
		
	<div class="chuc-nang">
		<a href="/manage"><button type="button" class="btn btn-info">Quản lí thông tin phòng hát</button></a>
	</div>

	<div class="chuc-nang">
		<button type="button" class="btn btn-info">Checkin-Checkout</button>
	</div>
	<div class="chuc-nang">
	
    <a href="#">	<button type="button" class="btn btn-info">Tiếp nhận khách</button></a>
	</div>
	<div class="chuc-nang">
		<button type="button" class="btn btn-info">Thanh toán</button>
	</div>
	<div class="chuc-nang">
		<button type="button" class="btn btn-info">Thanh toán tiền công</button>
	</div>
	<div class="chuc-nang">
		<button type="button" class="btn btn-info">Thống kê nhân viên</button>
	</div>

	
    </tbody>
  </table>
	</div>
</body>
</html>